UploaderSL/src/Uploader.Client/Service References/FileReceiver/FileReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FileReceiver" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4796/Services/FileReceiver.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4796/Services/FileReceiver.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4796/Services/FileReceiver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileReceiver_BeginUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginUpload" />
  </wsdl:message>
  <wsdl:message name="IFileReceiver_BeginUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IFileReceiver_ContinueUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:ContinueUpload" />
  </wsdl:message>
  <wsdl:message name="IFileReceiver_ContinueUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContinueUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IFileReceiver_FinishUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishUpload" />
  </wsdl:message>
  <wsdl:message name="IFileReceiver_FinishUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileReceiver">
    <wsdl:operation name="BeginUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileReceiver/BeginUpload" message="tns:IFileReceiver_BeginUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileReceiver/BeginUploadResponse" message="tns:IFileReceiver_BeginUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContinueUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileReceiver/ContinueUpload" message="tns:IFileReceiver_ContinueUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileReceiver/ContinueUploadResponse" message="tns:IFileReceiver_ContinueUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileReceiver/FinishUpload" message="tns:IFileReceiver_FinishUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileReceiver/FinishUploadResponse" message="tns:IFileReceiver_FinishUpload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileReceiver" type="tns:IFileReceiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginUpload">
      <soap:operation soapAction="http://tempuri.org/IFileReceiver/BeginUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContinueUpload">
      <soap:operation soapAction="http://tempuri.org/IFileReceiver/ContinueUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishUpload">
      <soap:operation soapAction="http://tempuri.org/IFileReceiver/FinishUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileReceiver">
    <wsdl:port name="BasicHttpBinding_IFileReceiver" binding="tns:BasicHttpBinding_IFileReceiver">
      <soap:address location="http://localhost:4796/Services/FileReceiver.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>