UploaderSL/src/Uploader.Client/Service References/FileReceiver/FileReceiver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4796/Services/FileReceiver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" />
  <xs:element name="BeginUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="request" nillable="true" type="q1:ChunkUploadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="BeginUploadResult" nillable="true" type="q2:UploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="request" nillable="true" type="q3:ChunkUploadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContinueUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="ContinueUploadResult" nillable="true" type="q4:UploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="request" nillable="true" type="q5:FinishRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UploaderSL.Web.Services" minOccurs="0" name="FinishUploadResult" nillable="true" type="q6:FinishResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>